.outerDiv{
    height: 200px;
    width: 80%;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    margin-top: 50px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    text-align: center;
}
.outerDiv img{
    height: 40%;
    width: auto;
    object-fit: contain;
}
.info-Div{
    margin-top: 20px;
    height: 20px;
    width: auto;
}