.imgContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.imgContainer img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.container{
    padding: 10px;
}
.footer{
    background-color: rgba(4, 4, 112, 0.911);
    color: white;
    margin-top: 100px;
}

