body{
    background-color:white;
}

.container{
   
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgba(4,4,112,0.911);
    color: white;
    margin-top: 10px;
    
}
.Lgn-MainDiv{
    height: 320px;
    width: 250px;
    margin-top: 15%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 40px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.38);
    padding: 20px;
    text-align: center;
}
.Text-Sty{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.Text-Sty-I{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 15px;
}
.lgn-Btn{
    height: 35px;
    width: 35%;
    border-radius: 6px;
    background-color: #26c000;
    color: white;
}
.lgn-Btn:hover{
    background-color: #187420;
}
.outerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart{
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    height: auto;
    width: 500px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgba(78, 77, 77, 0.2);
    font-family: 'Times New Roman', Times, serif;
}
.cart-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.shop-C{
    margin-left: 85%;
    margin-top: 5%;
    position: absolute;
}

div.scrollItem{
    background-color:white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

}

div.scrollItem div{
    display: inline-block;
    color: #0a0000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.itemStl{
    width: auto;
    height: 200px;
    border-radius: 8px;
    
    background-color:rgba(248, 217, 182, 0.993);

}.productDiv{
    border: 2px solid #000;
    height: auto;
    width: auto;
    background-color:rgb(243, 236, 236);
    box-shadow: 2px 2px 1px 1px rgba(231, 229, 229, 0.9);
    margin-left: 6px;

}
